.available-products-container {
    background-color: #00233b;
    color: #fff;
    border: 1px solid #cecece;
    padding: 15px;
    box-sizing: border-box;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 15px;
}


select {
    width: 80%; 
    padding: 8px; 
    font-size: 16px; 
    background-color:#96a8b4 ;
}

h2 {
    font-size: 18px; /* Ajustar el tamaño de la fuente del encabezado */
}

@media only screen and (max-width: 767px) {
    body {
        margin: 0; /* Asegúrate de que el cuerpo no tenga márgenes adicionales */
    }

    .available-products-container {
        box-sizing: border-box; /* Incluye el relleno y el borde dentro del ancho total */
        max-width: 90%;
        margin: 0 auto;
        padding: 10px;
    }

    .available-products-container select {
        width: 80%;
        font-size: 12px;
    }

    .available-products-container h2 {
        font-size: 15px;
    }
}

