.available-products-container {
    background-color: #3381b5;
    color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    box-sizing: border-box;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 15px;
}

/* Estilos adicionales para el selector */
select {
    width: 100%; /* Hacer que el selector ocupe el 100% del ancho del contenedor en pantallas pequeñas */
    padding: 8px; /* Ajustar el espaciado interno del selector */
    font-size: 16px; /* Ajustar el tamaño de la fuente del selector */
}

h2 {
    font-size: 18px; /* Ajustar el tamaño de la fuente del encabezado */
}

/* Reglas de medios para pantallas más pequeñas */
@media only screen and (max-width: 767px) {
    .available-products-container {
        max-width: none; /* Eliminar el límite máximo de ancho en pantallas pequeñas */
        border-radius: 10px; /* Eliminar el redondeo de bordes en pantallas pequeñas si es necesario */
         /* Eliminar el margen en pantallas pequeñas si es necesario */
    }
    .available-products-container select {
        width: 50%; /* Hacer que el selector ocupe el 80% del ancho del contenedor en pantallas pequeñas */
        font-size: 12px; /* Ajustar el tamaño de la fuente del selector en pantallas pequeñas */
    }
    
    .available-products-container h2 {
        font-size: 15px; /* Ajustar el tamaño de la fuente del encabezado en pantallas pequeñas */
    }
}
