.available-products-container {
    background-color: #00233b;
    color: #fff;
    border: px solid #ddd;
    padding: 15px;
    box-sizing: border-box;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 15px;
}


select {
    width: 90%; 
    padding: 8px;
    font-size: 16px; 
    background-color: #81c8f7
}

h2 {
    font-size: 18px; 
}


@media only screen and (max-width: 767px) {
    .available-products-container {
        max-width: none; 
        border-radius: 10px; 
         
    }
    .available-products-container select {
        width: 50%; 
        font-size: 12px;
    }
    
    .available-products-container h2 {
        font-size: 15px; 
    }
}
