.product-table-container {
    margin: 20px auto;
    text-align: center;
    padding-top: 20px;
}

.table-title {
    color: #3381b5;
    font-size: 40px;
    font-weight: 700;
}

.styled-table {
    width: 100% !important;
    margin: 0 auto;
    border-collapse: collapse;
    table-layout: fixed;
}

.styled-table th,
.styled-table td {
    box-sizing: border-box;
    padding: 8px;
    text-align: center;
    font-size: 8px;
}

.styled-table th {
    background-color: #00233b;
    color: #fff;
    font-size: 18px;
}

.styled-table td {
    background-color: #7c919f ;
    font-size: 16px;color: #fff;
}

.styled-table tr {
    background-color: #4f6a7d;
    display: table;
    width: 100%;
    box-sizing: border-box;
}

.styled-table tbody {
    display: block;
    max-height: 450px;
    overflow-y: auto;
}

.styled-table th,
.styled-table td {
    width: 20%;
}

.button-change {
    cursor: pointer;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    margin-right: 10px;
    margin-left: 10px;
}

#mas{
    background-color: rgb(53, 143, 54);
}
#mas:hover {
    background-color: #189d20;
}
#menos{
    background-color: #ad1111c1;
}
#menos:hover{
    background-color: #f62727;
}

.table-wrapper {
    height: 500px;
    overflow-y: auto;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    width: 80%;
}

.delete-button {
    cursor: pointer;
    background-color: #ad1111c1;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: #f62727;
}


@media screen and (max-width: 767px) {
    .styled-table th,
    .styled-table td {
        width: auto;
        box-sizing: border-box;
        padding: 8px;
        text-align: center;
        font-size: 8px;
    }

    .styled-table th {
        font-size: 10px;
    }

    .styled-table td {
        font-size: 10px;
        width: 20%; 
        padding-left: 5px; 
    }

    .table-wrapper {
        width: 90%;
        height: 300px;
    }

    .styled-table .button-change,
    .styled-table .delete-button {
        padding: 4px 6px;
        font-size: 7px;
        margin: 0 2px; 
    }

    .table-title {
        color: #3381b5;
        font-size: 20px;
        font-weight: 500;
    }
}