.total-details-container {
    background-color: #00233b;  
    color: #fff;  
    border: 1px solid #cecece;  
    padding: 15px;  
    box-sizing: border-box;  
    max-width: 400px; 
    margin: 0 auto; 
    border-radius: 15px;
}

h2 {
    font-size: 18px;  
}

p {
    font-size: 18px;  
}

@media screen and (max-width: 767px) {
    .total-details-container {
        box-sizing: border-box; /* Incluye el relleno y el borde dentro del ancho total */
        max-width: 90%;
        margin: 0 auto;
        padding: 10px;
    }

    .total-details-container h2 {
        font-size: 15px; 
    }

    .total-details-container p {
        font-size: 13px; 
    }
}
