.total-details-container {
    background-color: #00233b;  
    color: #fff;  
    border: 0px solid #ddd;  
    padding: 15px;  
    box-sizing: border-box;  
    max-width: 400px; 
    margin: 0 auto; 
    border-radius: 15px;
}

h2 {
    font-size: 18px;  
}

p {
    font-size: 18px;  
}

@media screen and (max-width: 767px) {
    .total-details-container {
        max-height: 100px; 
        overflow-y: auto; 
        border-radius: 10px; 
        margin: 0; 
    }

    .total-details-container h2 {
        font-size: 15px; 
    }

    .total-details-container p {
        font-size: 13px; 
    }
}
