body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(0, 0, 0, 0.89);
}

.app-container {
  text-align: center;
  margin: 20px auto 50px auto;
  position: relative;
  background-color: rgba(0, 0, 0, 0.89);
  padding: 15px;
  box-sizing: border-box;
}

.bottom-container {
  display: flex;
  justify-content: space-around;
  padding: 15px;
  box-sizing: border-box;
}

.available-products-container,
.total-details-container {
  width: 48%;
  text-align: center;
  padding: 15px;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .bottom-container {
    flex-direction: column;
    align-items: center;
    padding: 10px 30px 10px 10px;
    margin-right: 20px;
  }

  .available-products-container,
  .total-details-container {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
