body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(0, 0, 0, 0.89);
}

.app-container {
  text-align: center;
  margin: 20px auto 50px auto;
  position: relative;
 
  background-color: rgba(0, 0, 0, 0.89);
  padding: 15px; /* Añadir padding si es necesario */
  box-sizing: border-box;
}

.bottom-container {
  position: fixed;
  bottom: 120px;
  width: calc(100% - 2px);
  display: flex;
  justify-content: space-around;
  padding: 15px;
  box-sizing: border-box;
  
  
}

.available-products-container,
.total-details-container {
  width: 48%;
  text-align: center;
  padding: 15px;
  box-sizing: border-box;
  
}

:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  body {
    margin: 0;
  }

  .bottom-container {
    flex-direction: column;
    align-items: center;
    bottom: 0;
    padding: 0px 60px 130px 40px;
    margin-top: 0; /* Asegúrate de que no haya un margen superior en el bottom-container */
  }

  .available-products-container,
  .total-details-container {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px; /* Reduzca el margen inferior si es necesario */
  }
}
