.app-container {
  text-align: center;
  margin: 20px auto 50px auto; /* Añadir margen inferior para dar espacio al contenedor inferior */
  position: relative;
  border: 2px #ddd;
}

.bottom-container {
  position: fixed;
  bottom: 120px; /* Alinear un poco más arriba */
  width: calc(100% - 2px); /* Utilizar calc para ajustar el ancho restando 2px por los bordes izquierdo y derecho */
  display: flex;
  justify-content: space-around; /* Distribuir el espacio uniformemente entre los elementos */
  padding: 15px; /* Aumentar el espaciado interno */
  box-sizing: border-box;
}

.available-products-container,
.total-details-container {
  width: 48%;  /* Ancho del 48% para dejar espacio entre los elementos */
  text-align: center;  /* Centrar el texto dentro de los contenedores */
  padding: 15px;  /* Ajustar el espaciado interno */
  box-sizing: border-box;  /* Incluir el padding en el cálculo del tamaño del elemento */
}

@media screen and (max-width: 767px) {
  .bottom-container {
    flex-direction: column; /* Cambiar la dirección del flexbox a columna en pantallas pequeñas */
    align-items: center; /* Centrar los elementos en el eje transversal */
    bottom: 0; /* Alinear al borde inferior en pantallas pequeñas */
    padding: 10px; /* Ajustar el espaciado interno en pantallas pequeñas */
  }

  .available-products-container,
  .total-details-container {
    width: 100%; /* Ocupar todo el ancho en pantallas pequeñas */
    margin-top: 10px; /* Añadir espacio entre los contenedores y la tabla en pantallas pequeñas */
    margin-bottom: 20px;
  }
  

}